/* Page for the styles */

/* IMPORTANT: There are some issues of "overflow" of the image on the site, solving this with flex wrap is what appears to be a very important solution to it.*/
/* We should understand that this solutions causes som real overflow problems that we should fix when the time for this comes and we could do that. */

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: roboto, Arial, sans-serif;
}

/* Styles for the header */
.header {
    display: flex;
    flex-direction: row;
    background-color: #1f2937;
    margin-left: 0px;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
    margin-left: 200px;
}

.link-list {
    color: #e5e8eb;
    font-size: 18px;
    margin-left: auto;
    margin-right: 80px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

/* Style for the between 1 */
.between1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #1f2937;
    padding-bottom: 80px;
    max-height: 400px;
    gap: 80px;
    /* flex-wrap: wrap; */
}

.b1-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 800px;
    margin-top: 80px;
    margin-left: 200px;
}

.b1-1 .title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.b1-1 .text {
    max-width: 600px;
    min-width: 182px;
    color: #e5e7eb;
}

.b1-2 {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    max-width: 800px;
    /* min-height: 0px; */
}

.between1 img {
    object-fit: contain;
}

.between1 button {
    background-color: #3882f6;
    border-radius: 4px;
    color: #f9faf8;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
}

/* Style for the between 2 */

.between2 {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 80px;
}

.b2-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    padding-bottom: 40px;
}

.b2-2 {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 40px;
}

.item1 {
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;
    justify-content: center;
}

.item2 {
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;
    justify-content: center;
}

.item3 {
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;
    justify-content: center;
}

.item4 {
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;
    justify-content: center;
}

.item1-item1 {
    border: 8px solid #3882f6;
    border-radius: 12px;
    height: 200px;
    width: 200px;
}

.item2-item1 {
    border: 8px solid #3882f6;
    border-radius: 12px;
    height: 200px;
    width: 200px;
}

.item3-item1 {
    border: 8px solid #3882f6;
    border-radius: 12px;
    height: 200px;
    width: 200px;
}

.item4-item1 {
    border: 8px solid #3882f6;
    border-radius: 12px;
    height: 200px;
    width: 200px; 
}

.item1-item2 {
    justify-content: center;
    text-align: center;
}

.item2-item2 {
    justify-content: center;
    text-align: center;
}

.item3-item2 {
    justify-content: center;
    text-align: center;
}

.item4-item2 {
    justify-content: center;
    text-align: center; 
}

/* Style for the between 3 */

.between3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding-top: 40px;
}

.between3-item1 {
    color: #1f2937;
    font-size: 36px;
    font-weight: lighter;
    max-width: 800px;
}

.between3-item2 {
    max-width: 800px;
}